<div class="menu">

  <div class="date">
    <input type="date" placeholder="Data de referência" [(ngModel)]="referenceDate">
    <button (click)="getPaymentsByReferenceDate()">Buscar transações por data de referência</button>
  </div>

  <app-navbar></app-navbar>
</div>

<div class="table-payments" *ngIf="payments != null || paymentConsolidated != null">
  <p *ngIf="paymentConsolidated != null">Saldo consolidado do dia: R$ {{ paymentConsolidated.totalConsolidatePayment }} </p>

  <table mat-table [dataSource]="paymentConsolidated != null ? paymentConsolidated.payments : payments" class="mat-elevation-z8">

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.description }} </td>
    </ng-container>

    <ng-container matColumnDef="PaymentDate">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.paymentDate }} </td>
    </ng-container>

    <ng-container matColumnDef="PaymentType">
      <th mat-header-cell *matHeaderCellDef> Tipo de transação </th>
      <td mat-cell *matCellDef="let element"> {{element.paymentType == 1 ? "Crédito" : "Débito" }} </td>
    </ng-container>

    <ng-container matColumnDef="PaymentAmount">
      <th mat-header-cell *matHeaderCellDef> Valor (R$) </th>
      <td mat-cell *matCellDef="let element"> {{element.paymentAmount }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
